{%extends 'admin/base.html'%}
{%load static%}
{%block content%}
<div class="container">
    <h5 class="py-3">Question {{question.number}} of {{question.test.name}}</h5>

    <form id="questions_form" method="post" >
        {%csrf_token%}
        <div class="form-group mb-3">
            <label for="question" class="small">Question</label>
            <textarea class="form-control" rows="2" name="question" id="question">{{question.question}}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="option_one" class="small">Option One</label>
            <textarea class="form-control" rows="2" name="option_one" id="option_one">{{question.option_one}}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="option_two" class="small">Option Two</label>
            <textarea class="form-control" rows="2" name="option_two" id="option_two">{{question.option_two}}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="option_three" class="small">Option Three</label>
            <textarea class="form-control" rows="2" name="option_three" id="option_three">{{question.option_three}}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="option_four" class="small">Option Four</label>
            <textarea class="form-control" rows="2" name="option_four" id="option_four">{{question.option_four}}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="option_five" class="small">Option Five</label>
            <textarea class="form-control" rows="2" name="option_five" id="option_five">{{question.option_five}}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="correct_answer" class="small">Choose Correct Option</label>
            <select class="form-control" id="correct_answer" name="correct_answer" required>
                <option value="option_one" {% if 'one' in question.correct_answer %}selected{%endif%}>Option One</option>
                <option value="option_two" {% if 'two' in question.correct_answer %}selected{%endif%}>Option Two</option>
                <option value="option_three" {% if 'three' in question.correct_answer %}selected{%endif%}>Option Three</option>
                <option value="option_four" {% if 'four' in question.correct_answer %}selected{%endif%}>Option Four</option>
                <option value="option_five" {% if 'five' in question.correct_answer %}selected{%endif%}>Option Five</option>
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-sm" style="background:#1e4356;color:white;width:150px" id="question_next">
                Submit
            </button>
        </div>
    </form>



</div>


{%endblock content%}
{%block scripts%}
{%endblock scripts%}