  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://britishcouncil.co.ke">British Council Kenya Website</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://nckenya.com">Nursing Council Kenya Website</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://nmc.org.uk">NMC UK Website</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://kenya.iom.int">IOM Kenya Website</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://nea.go.ke">NEA Kenya Website</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/services#ielts">IELTS Training</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services#nckverification">NCK Verification</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services#nmccbt">NMC CBT Training</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services#nmcaccount">NMC Account Opening</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services#cvalignment">CV Alignment</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Third Floor <br>
              Thika Gateway Plaza<br>
              Thika, Kenya <br><br>
              <strong>Phone:</strong> +254 724 370 822<br>
              <strong>Email:</strong> destinyrse001@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Destinyrse UK</h3>
            <p>We are a professional team of Kenyan and UK nurses that assists Kenyan nurses transition their career into the UK.</p>
            <div class="social-links mt-3">
              <a target="_blank" href="https://www.facebook.com/destinyrseuk/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a target="_blank" href="https://chat.whatsapp.com/Dmqq9sW4jL5D85DCgtVzwn" class="instagram"><i class="bx bxl-whatsapp"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/destinyrse-recruitment-agency/about/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Destinyrse UK</span></strong>. All Rights Reserved
      </div>
      <div class="small text-center pt-4">
         Design by <a href="https://cyprian.dev">Cyprian</a>
      </div>
    </div>
  </footer><!-- End Footer -->