{%extends 'base.html'%}
{%load static%}
{% block navbar%}{%include 'navbar.html'%}{% endblock navbar%}
{%block content%}

<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Destinyrse UK</span></h2>
                <p class="animate__animated animate__fadeInUp">We are a team of professional Kenyan and UK nurses that
                    assists Kenyan nurses transition their career into the UK. We will help you with your IELTS, CBT,
                    and other exams as well as guide you through your application process. Click on the button below to
                    learn about our services</p>
                <a href="#main" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

    </div>
</section>

<main id="main">
    <section class="services">
        <div class="container">
            <div class="section-title ">
                <h2>Our Services</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">IELTS Training</a></h4>
                        <p class="description">Taking the English competence examination can be a difficult
                            undertaking. That is why we offer top-notch training
                            to ensure you pass the exam on your first try!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">NCK Verification</a></h4>
                        <p class="description">We will follow up
                            with your documents to ensure that you are verified and certified by the Nursing Council
                            of
                            Kenya within hours!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">New NMC CBT Training</a></h4>
                        <p class="description">We understand that
                            the Computer-Based Test by the Nursing and Midwifery Commission of the UK is daunting.
                            This
                            is why we will train you to pass it on your first try!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">International CV Alignment</a></h4>
                        <p class="description">A Curriculum Vitae can
                            increase or decrease your chances of getting hired by your next employer. Leave it to us
                            to
                            proofread, edit and align it in accordance with what UK employers prefer.</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">OET Training</a></h4>
                        <p class="description">We prepare our candidates to take the Occupational English Test and pass it on their first try!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">TOEFL Training</a></h4>
                        <p class="description">Test of English as a Foreign Language (TOEFL) is a test to measure the English language ability of non-native speakers. </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">Job Interviews Assitance</a></h4>
                        <p class="description">We will train you on everything you need to know before sitting for an interview with your prospective employer.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">Passport Application</a></h4>
                        <p class="description">Applying for a passport in Kenya is not for the faint-hearted. We will make this process seem like a breeze for you.</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">International University Placement</a></h4>
                        <p class="description">Ever wanted to advance your career by studying in the UK, the US, or other countries? We will make this a reality for you.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">NMC Account Creation</a></h4>
                        <p class="description">We understand that the NMC website may not be user-friendly. That is why we will open an account for you as you focus on more meaningful goals.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">IELTS/OET/NMC payments</a></h4>
                        <p class="description">Having trouble with IELTS/OET/NMC payments? We will assist you so that you can focus on passing the tests.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                     data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"></div>
                        <h4 class="title"><a href="">IELTS Units Assistance</a></h4>
                        <p class="description">You may have trouble with a specific units between writing, speaking, listening and reading. Just pay for that unit and let's train you</p>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section class="contact aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-out"
             data-aos-duration="500">
        <div class="container">
            <div class="section-title ">
                <h2>Contact Us</h2>
            </div>

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>Third Floor, Thika Gateway Plaza, Thika</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>destinyrse001@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+254 724 370822</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       required="">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" required="">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                   required="">
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required=""></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section>
<section class="map mt-2">
      <div class="container-fluid p-0">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15956.62461459377!2d37.0669012!3d-1.0438804!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb92283f93ce940c8!2sDestinyrse%20UK!5e0!3m2!1sen!2ske!4v1637849138380!5m2!1sen!2ske"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </section>
</main>
{%include 'footer.html'%}
{%endblock content%}