{%extends 'dashboard/base.html'%}
{%load static%}
{%load humanize%}
{%block content%}
<div class="container">
    <div class="py-3">
        <h5><strong>NMC CBT Practice Questions</strong></h5>
        <div class="d-flex justify-content-end">
        </div>
    </div>

    <p><strong>All Published Tests</strong></p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Test Name</th>
            <th scope="col">No of Questions</th>
            <th scope="col">Date Created</th>
            <th scope="col" class="text-center">Begin Exam</th>
        </tr>
        </thead>
        <tbody>
        {%for test in published_tests%}
        <tr>
            <th scope="row">{{test.name}}</th>
            <td>{{test.questions}}</td>
            <td>{{test.created_on|naturaltime}}</td>
            <td class="text-center"><button class="btn btn-default btn-sm take_test" data-href="{%url 'take_test' test.id%}"><i class="fas fa-chalkboard-teacher text-primary" ></i></button></td>
        </tr>
        {%endfor%}
        </tbody>
    </table>


</div>

<div class="modal fade border-0" id="not_authorized" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0" style="color:#1e4356">
                <h6 class="modal-title" id="" style=""><strong>Not Authorized!</strong></h6>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="color:#1e4356">
                <div>
                    Call <strong>+254 725 370822</strong> or <strong>+254 769 703150</strong> for assistance!
                </div>
            </div>

        </div>
    </div>
</div>


{%endblock content%}
{%block scripts%}
<script>
$('.take_test').click(function(){
    var route = $(this).attr('data-href');
    var gaClientId = document.cookie.match(/_ga=(.+?);/)[1].split('.').slice(-2).join(".")
    $.ajax({
        url: "{%url 'update_ga_client_id'%}",
        method: "post",
        data: {
            "ga_client_id": gaClientId,
            "csrfmiddlewaretoken" : "{{csrf_token}}"
        },
        success: function(data){
            if (data.updated){
                window.location.href = route;
            }else{
                $('#not_authorized').modal('show');
            }
        }
    });
});
</script>
{%endblock scripts%}